---
permalink: feed/rss.xml
eleventyExcludeFromCollections: true
dateFormat: 'ddd, DD MMM YYYY HH:mm:ss ZZ'
---
<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
<channel>
    <title>{{ app.title }}</title>
    <link>{{ app.siteMapUrl }}</link>
    <atom:link href="{{ app.siteMapUrl }}/{{ permalink }}" rel="self"></atom:link>
    <description>{{ app.description }}</description>
    <language>{{ app.language }}</language>
    <copyright></copyright>
    <lastBuildDate>{{ now | date(dateFormat) }}</lastBuildDate>
    <pubDate>{{ now | date(dateFormat) }}</pubDate>
    <image>
        <title>{{ app.title }}</title>
        <url>{{ app.siteMapUrl }}/images/icons/icon-152x152.png</url>
        <link>{{ app.siteMapUrl }}</link>
    </image>
    {%- for post in collections.all %}
    {%- set postUrl %}{{ app.siteMapUrl }}{{ post.url }}{% endset %}
    <item>
        <title>{{ post.data.title }}</title>
        <link>{{ postUrl }}</link>
        <guid isPermaLink="true">{{ postUrl }}</guid>
        <description>{{ post.data.description }}</description>
        <pubDate>{{ post.data.pubDate | date(dateFormat) }}</pubDate>
        <atom:link href="{{ postUrl }}" rel="self" />
        <dc:creator>{{ post.data.author }}</dc:creator>
        {%- if post.data.coverPreview -%}
        <!-- TODO: resolve cover image url either local or on a different site -->
        <media:content medium="image" width="300" height="125"
                       url="{{ postUrl }}{{ post.data.coverPreview | url }}" />
        <media:credit></media:credit>
        <media:description></media:description>
        {%- endif %}
    </item>
    {%- endfor %}
</channel>
</rss>
