body {
    min-height: 100vh;
    margin: 0;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    background: black;
    color: white;
}
footer {
    padding: 24px 24px 64px;
}
a {
    text-decoration: none;
}
ul {
    padding-left: 24px;
    padding-right: 24px;
    list-style: circle;
}
li {
    font-family: serif;
    font-size: 160%;
    line-height: 150%;
    margin-top: 18px;
    margin-bottom: 18px;
}
li small {
    font-family: Helvetica, sans-serif;
    opacity: 0.5;
}
p {
    font-size: 150%;
    line-height: 160%;
    font-family: serif;
    margin-top: 18px;
    margin-bottom: 18px;
}
code {
    border: solid 1px rgba(255,255,255,0.2);
    border-radius: 6px;
    font-size: 80%;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 4px;
    margin-right: 4px;
}
code.option {
    padding: 4px;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,0.25);
    background: rgba(255,255,255,0.15);
}
h1,h2,h3,h4,h5,h6 {
    color: #FFECB3;
}
h4,h5 {
    opacity: 0.75;
}

.padding-48-16 {
    padding: 24px 48px;
}
.font-p-big {
    font-size: 180%;
    line-height: 150%;
}
.button-flat-48 {
    padding-left: 24px;
    height: 48px;
    vertical-align: middle;
    display: table-cell;
    font-size: 130%;
    line-height: 100%;
    text-transform: uppercase;
}
.button-flat-48 i.material-icons {
    font-size: 160%;
    text-shadow:
            1px 1px 0 rgba(0,0,0,0.5),
            -1px -1px 0 rgba(0,0,0,0.5),
            1px -1px 0 rgba(0,0,0,0.5),
            -1px 1px 0 rgba(0,0,0,0.5),
            1px 1px 0 rgba(0,0,0,0.5);
}
.full-view {
    width: 100vw;
    height: 100vh;
}
.topmost {
    z-index: 100;
}
.vertical-scroll {
    max-width: 100%;
    overflow-y: auto;
}
.vp-image {
    border-radius: 10px;
    padding:2px;
    max-height: 100%;
    max-width: 100%;
}
.size-300-300 {
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.hidden {
    display: none;
}

/* pager */

div[data-ui-field="pager"] {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 56px;
    bottom: 0;
    margin: auto;
    color: white;
    text-align: center;
    z-index: 100;
}
[data-ui-field="pager"] a {
    display: inline-block;
    cursor: pointer;
    padding: 6px;
    margin: 16px 12px;
    border: solid 2px white;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
}
[data-ui-field="pager"] a.current-page {
    background-color: rgba(255,255,255,0.5);
    color: black;
}

/* responsive */

@media only screen and (max-width: 720px), only screen and (max-height: 420px){
    body {
        font-size: 90%;
    }
    li {
        font-size: 140%;
    }
    footer {
        padding-left: 8px;
        padding-right: 8px;
    }
    .padding-48-16 {
        padding: 16px 16px;
    }
}
