body {
    min-height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    background: black;
}
p {
    font-size: 140%;
    line-height: 140%;
    font-family: serif;
    margin-top: 8px;
    margin-bottom: 8px;
}
.padding-48-16 {
    padding: 48px;
}
.font-p-big {
    font-size: 200%;
    line-height: 150%;
}
.full-view {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

/* responsive */

@media only screen and (max-width: 640px) {
    body {
        font-size: 100%;
    }
    h1 {
        margin: 0;
    }
    li {
        font-size: 140%;
    }
    .padding-48-16 {
        padding: 16px;
    }
}
