body {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}

main {
    width: 100%;
    min-height: 100vh;
}

header,footer {
    cursor: pointer;
    width: 100%;
    height:15vh;
    font-size: 200%;
}
.page-active header,.page-active footer {
    cursor: default;
}
header i, footer i {
    margin-left: 24px;
    margin-right: 24px;
}

a,a:visited,a:hover {
    padding: 12px;
    border-radius: 16px;
    background: rgba(255,255,255,0.1);
    text-decoration: none;
    color: yellow;
    font-weight: 700;
}
a:hover {
    background: rgba(255,255,200,0.25);
}

article.first,article.last {
    width: 100%;
    min-height:85vh;
}
article,[data-ui-view="templates/article"] {
    width: 100%;
    min-height:75vh;
}

article h1, article h2 {
    font-family: monospace;
    margin:0
}

article h1 {
    font-size: 250%;
}

article h2 {
    font-size: 150%;
}

a.exit-link {
    cursor: pointer;
    color:yellow;
    padding: 16px;
}
a.exit-link i {
    margin: 8px;
    font-size: 400%;
}

.hidden {
    display: none;
}

.black-band {
    background: black;
    width: 100%;
    height:16px;
}

.box-active {
    display: none;
}
.box-hidden {
    display: inherit;
}

.page-active .box-active{
    display: inherit;
}
.page-active .box-hidden {
    display: none;
}

.border-tab i {
    font-size: 200%;
}
