body {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}

main {
    width: 100%;
    min-height: 100vh;
}

header,footer {
    cursor: pointer;
    width: 100%;
    height:15vh;
    font-size: 200%;
}
.page-active header,.page-active footer {
    cursor: default;
}
header i, footer i {
    margin-left: 24px;
    margin-right: 24px;
}

a,a:visited,a:hover {
    padding: 12px;
    border-radius: 16px;
    background: rgba(255,255,255,0.1);
    text-decoration: none;
    color: yellow;
    font-weight: 700;
}
a:hover {
    background: rgba(255,255,200,0.25);
    transition: 0.3s ease-in;
}

article.first,article.last {
    width: 100%;
    min-height:85vh;
}
article,.article-body {
    width: 100%;
    min-height:75vh;
}

article h1, article h2 {
    font-family: monospace;
    margin:0
}

article h1 {
    font-size: 225%;
}
article h1 i.material-icons {
    font-size: 110%;
    vertical-align: text-top;
    margin-right: 6px;
}

article h2 {
    font-size: 120%;
}

article p {
    margin-top: 8px;
    margin-bottom: 8px;
}

a.exit-link {
    cursor: pointer;
    color:yellow;
    padding: 8px;
    margin: 24px;
}
a.exit-link i {
    margin: 16px;
    font-size: 400%;
}

.logo {
    -webkit-text-stroke: 1px rgba(0,255,0,0.5);
    color: white;
    text-shadow:
            2px 2px 0 rgba(0,0,0,0.5),
            -1px -1px 0 rgba(0,0,0,0.5),
            1px -1px 0 rgba(0,0,0,0.5),
            -1px 1px 0 rgba(0,0,0,0.5),
            1px 1px 0 rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}

.black-band {
    background: black;
    width: 100%;
    height:16px;
}

.box-active {
    display: none;
}
.box-hidden {
    display: inherit;
}

.page-active .box-active{
    display: inherit;
}
.page-active .box-hidden {
    display: none;
}

.border-tab i {
    font-size: 200%;
}

.wip {
    opacity: 0.35;
}
.wh100 {
    width: 100%;
    height: 100%;
}

.delay-750 {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.circle-button {
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    margin: 16px 12px;
    border: solid 2px white;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
}

.circle-button.page-active {
    background: lime;
}