<!-- images list (with special guest "time-clock" widget) -->
<div class="elements-view" self="size-medium center-center" layout="rows center-center">

    {% for i in (1..4) %}
        <img src="https://picsum.photos/seed/t-fx!{{i}}/400/200"
             width="200" height="100" alt="" loading="lazy"
             onclick="transposeDemo(this)">
    {% endfor %}

    <div z-load="widgets/time-clock" onclick="transposeDemo(this)"
         layout="column center-center" class="widget-container"></div>

    {% for i in (5..8) %}
        <img src="https://picsum.photos/seed/t-fx!{{i}}/400/200"
             width="200" height="100" alt="" loading="lazy"
             onclick="transposeDemo(this)">
    {% endfor %}

</div>

<!-- the detail view with "transpose-fx" controller -->
<div ctrl z-load="@lib/controllers/transpose-fx"
     z-context="tfx" class="my-dialog-view">

    <div class="background transpose-fx"></div>

    <div layout="column spread-center" style="height: 100%">
        <div layout="rows center-justify">
            <div self="size-1of2 sm-full" class="transpose-fx-container"></div>
            <div self="size-1of2 sm-full" layout="column center-center" class="transpose-fx" style="padding: 12px">
                <h1>Transpose Fx Demo</h1>
                <div>
                    I am silver and exact. I have no preconceptions.
                    Whatever I see I swallow immediately
                    Just as it is, unmisted by love or dislike.
                </div>
            </div>
        </div>
        <div>
            <p style="padding: 12px" class="transpose-fx">

                I am not cruel, only truthful‚
                The eye of a little god, four-cornered.
                Most of the time I meditate on the opposite wall.
                It is pink, with speckles. I have looked at it so long
                I think it is part of my heart. But it flickers.
                Faces and darkness separate us over and over.
            </p>
        </div>
        <footer self="bottom" style="padding: 12px" class="transpose-fx">
            <a ctrl z-load="@lib/controllers/mdl-button"
               z-options="{class: 'accent'}"
               z-lazy="false" layout="row center-center"
               onclick="zuix.context('tfx').end()">
                <i class="material-icons">close</i>
                Close
            </a>
        </footer>
    </div>

</div>

<script>
  function transposeDemo(el) {
    zuix.context('tfx')
      .toggle(zuix.$(el))
  }
</script>

<style>

    .my-dialog-view {
        color: white;
        position: fixed;
        left: 12px;
        right: 12px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        max-height: 720px;
        height: 95%;
        z-index: 1000;
        display: none;
    }
    .my-dialog-view p {
        margin: 0;
    }

    .elements-view {
        gap: 12px;
    }

    .transpose-fx-container {
        padding: 12px;
        aspect-ratio: 2/1;
    }
    .background {
        background: #205856f2;
        backdrop-filter: blur(5px);
        position: absolute;
        box-shadow: 0 0 14px 6px rgb(0 0 0 / 30%);
        border-radius: 4px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    @media screen and (min-width: 1280px) {
        .my-dialog-view {
            position: fixed;
            top: 24px;
            left: 328px!important;
            right: 48px!important;
            bottom: 24px;
            z-index: 1000;
        }
    }

    @media screen and (min-width: 1024px) {
        .my-dialog-view {
            left: 24px;
            right: 24px;
            max-height: 480px;
        }
    }

    @media screen and (max-height: 390px) {
        .my-dialog-view {
            font-size: 95%;
        }
    }


    .widget-container {
        color: black;
        border-radius: 22px;
        width: 200px; height: 100px;
        background: rgba(127,127,127,0.5);
    }

</style>
