body {
    background-color: black;
    color: white;
    font-size: 160%;
    line-height: 120%;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}
a,a:hover,a:visited {
    color:yellow !important;
}
.max-width--1024 {
    max-width: 1024px;
}
.foremost {
    z-index: 10;
}
.watch {
    -webkit-transition: 75ms linear;
    -moz-transition: 75ms linear;
    -ms-transition: 75ms linear;
    -o-transition: 75ms linear;
    transition: 75ms linear;
}
.sh-parallax {
    position: absolute;
    max-width: 1024px;
    transform: translateY(0);
}
.sh-title {
    font-family: serif;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}
[data-ui-field="underground"] {
    background: #89675b;
    width: 100%;
    min-height: 75vh;
    padding: 16px;
    z-index:10;
}
[data-ui-field="arrow-down"] {
    cursor: pointer;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
[data-ui-field="arrow-down"] i {
    font-size:400% !important;
    z-index:10;
}


.sh-sky-background {
    max-width: '';
    min-height: 175vh;
    background-color: #5ec8d5;
    background: linear-gradient(to bottom, rgb(155, 190, 209) 0%, rgb(247, 247, 246) 50%, rgb(250, 202, 158) 70%, rgb(246, 155, 108) 85%, darkblue 100%);
}

.sh-sky-background .arrow-down {
    color: forestgreen;
    margin-top: 50vh;
    z-index: 10;
}


/*
|| CapGuy Animation
|| (c) Kerstin Mueller
|| https://www.codeandweb.com/blog/2014/11/05/animate-sprites-in-css-with-texturepacker
*/
.sh--capguy {
    position: relative;
    width: 184px; height: 325px; /* <--  size of a single frame*/
    background-image: url('../../images/capguy-walk.png'); /* <-- url to spritesheet*/
    -webkit-animation: sh--capguy-walk 1s steps(8) infinite;
    -moz-animation: sh--capguy-walk 1s steps(8) infinite;
    -o-animation: sh--capguy-walk 1s steps(8) infinite;
    animation: sh--capguy-walk 1s steps(8) infinite; /* <-- animation parameters, see below*/
    z-index: 20;
    opacity: 0;
}
.sh--capguy h3 {
    position: absolute;
    top: -80px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
            2px 2px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
@-webkit-keyframes sh--capguy-walk {
    from { background-position: 0; }
    to { background-position: -1472px; }  /* <-- width of spritesheet*/
}

@-moz-keyframes sh--capguy-walk {
    from { background-position: 0; }
    to { background-position: -1472px; } /* <-- width of spritesheet*/
}

@-o-keyframes sh--capguy-walk {
    from { background-position: 0; }
    to { background-position: -1472px; } /* <-- width of spritesheet*/
}

@keyframes sh--capguy-walk {
    from { background-position: 0; }
    to { background-position: -1472px; } /* <-- width of spritesheet*/
}



/* Sky Gradients from https://codepen.io/billyysea/pen/whjbK */

.sky-gradient-0, .sky-gradient-24 {
    background: #00000c;
}

.sky-gradient-1 {
    background: linear-gradient(to bottom, #020111 85%, #191621 100%);
}

.sky-gradient-2 {
    background: linear-gradient(to bottom, #020111 60%, #20202c 100%);
}

.sky-gradient-3 {
    background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
}

.sky-gradient-4 {
    background: linear-gradient(to bottom, #20202c 0%, #515175 100%);
}

.sky-gradient-5 {
    background: linear-gradient(to bottom, #40405c 0%, #6f71aa 80%, #8a76ab 100%);
}

.sky-gradient-6 {
    background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
}

.sky-gradient-7 {
    background: linear-gradient(to bottom, #757abf 0%, #8583be 60%, #eab0d1 100%);
}

.sky-gradient-8 {
    background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}

.sky-gradient-9 {
    background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%);
}

.sky-gradient-10 {
    background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

.sky-gradient-11 {
    background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%);
}

.sky-gradient-12 {
    background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
}

.sky-gradient-13 {
    background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
}

.sky-gradient-14 {
    background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
}

.sky-gradient-15 {
    background: linear-gradient(to bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%);
}

.sky-gradient-16 {
    background: linear-gradient(to bottom, #1e528e 0%, #265889 50%, #9da671 100%);
}

.sky-gradient-17 {
    background: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%);
}

.sky-gradient-18 {
    background: linear-gradient(to bottom, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%);
}

.sky-gradient-19 {
    background: linear-gradient(to bottom, #163C52 0%, #4F4F47 30%, #C5752D 60%, #B7490F 80%, #2F1107 100%);
}

.sky-gradient-20 {
    background: linear-gradient(to bottom, #071B26 0%, #071B26 30%, #8A3B12 80%, #240E03 100%);
}

.sky-gradient-21 {
    background: linear-gradient(to bottom, #010A10 30%, #59230B 80%, #2F1107 100%);
}

.sky-gradient-22 {
    background: linear-gradient(to bottom, #090401 50%, #4B1D06 100%);
}

.sky-gradient-23 {
    background: linear-gradient(to bottom, #00000c 80%, #150800 100%);
}
