---
date: Last Modified
---
{% include "head_open.html" %}
<style>
{% include "layouts/basic/style.css" %}
</style>
{% include "head_close.html" %}

<!-- scroll helper is used to show/hide the header when scrolling -->
<body layout="column top-center" data-theme="{{ theme }}">

<header class="header-cover animated fadeIn">
    <div self="size-large center" layout="row stretch-left">
        <div><h1 data-ui-field="page_title" class="animated fadeInLeft">{{title}}</h1></div>
        <div self="center-right"><a href="{{app.baseUrl}}"><i class="material-icons animated fadeInRight">extension</i></a></div>
    </div>
</header>

<main self="size-large center" class="main-content animated fadeIn" layout="column top-stretch">

{{ content | safe }}

</main>

{% include "body_end.html" %}

</body>
{% include "html_close.html" %}
