---
date: Last Modified
---
{% include "head_open.html" %}
<style>
{% include "layouts/side_drawer/style.css" %}
</style>
{% include "head_close.html" %}

<!-- scroll helper is used to show/hide the header when scrolling -->
<body ctrl z-load="@lib/controllers/scroll-helper" z-lazy="scroll" data-theme="{{ theme }}"
      z-context="scroll-helper"
      z-options="scroll_opts"
      layout="column stretch-stretch">

    <nav #header layout="row center-start">
        <div self="stretch" layout="row center-start">
            <div>
                <img src="{{app.baseUrl}}images/menu_open_black_48dp.svg" onclick="menuDrawer.open()" class="header-menu-button">
            </div>
            <div self="size-x1" layout="row center-center">
                <h1 style="margin:0;margin-left: -48px">{{ title }}</h1>
            </div>
        </div>
    </nav>

    <!--
    <div z-load="@lib/components/hamburger-icon"
         z-context="menu_hamburger"
         z-options="menuButtonOptions"
         style="position:fixed;right:0;top:6px;z-index:1001"></div>
         -->


    <main class="animate__animated animate__fadeIn animate__faster">
        <div layout="column top-center">

{% unless options contains 'no-title' %}
            <h1 #alt_header>{{ title }}</h1>
{% endunless %}
            <div class="content">
{{ content }}
            </div>

{% unless options contains 'no-footer' %}
{% include "footer.html" %}
{% endunless %}

{% include "page_navigation.html" %}

{% if pubDate %}
            <p>Published on: {{ pubDate | dateFormat }}</p>
{% endif %}

        </div>
    </main>


    <!-- Navigation Drawer -->
    <div ctrl z-load="@lib/controllers/drawer-layout"
         z-context="menu-drawer" z-lazy="false"
         z-options="drawer_opts"
         class="drawer-layout no-select visible-on-ready animate__animated animate__faster"
         layout="column top-stretch">
        <!-- Navigation Drawer content -->

        <!-- Header -->
        <div class="drawer-header" layout="column justify-stretch">
            <div layout="row center-justify">
                <a href="{{ '/' | url }}">
                    <i style="font-size: 600%; color: #b0bbaa; text-shadow: -1px -1px 0 #00000044, 1px -1px 0 #00000044, -1px 1px 0 #00000044, 1px 1px 0 #00000044;" class="material-icons">
                        extension
                    </i>
                </a>
                <a href="https://github.com/zuixjs/zkit" style="opacity: 0.75">
                    <img src="{{app.baseUrl}}images/github-mark-light.png" title="Visit GitHub repository" style="width: 40px; height: 40px;">
                </a>
            </div>
            <div class="title">{{ app.title }}</div>
            <div class="subtitle">{{ app.subtitle }}</div>
        </div>

        <!-- Menu items and other content -->
        <div class="drawer-content" self="size-x1">
            {% include "layouts/side_drawer/drawer_menu.html" %}
        </div>

    </div>

{% include "body_end.html" %}

</body>

<!-- page script -->
<script>
{% include "layouts/side_drawer/script.js" %}
</script>

{% include "html_close.html" %}
