div[data-ui-context="menu-button"] {
    position: absolute !important;
    z-index: 1;
    top: 2px;
    right: 2px;
}
.header-cover {
    position: fixed;
}
.menu-overlay {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: transparent;
    font-size: 200%;
}
.menu-overlay a {
    color: green !important;
}
.menu-circle {
    border: solid 6px rgba(0,0,0,0.5);
    position: absolute;
    background-color: rgba(122, 122, 7, 0.71);
    width: 64px;
    height: 64px;
    right:12px;top:4px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.menu-circle.open {
    transform: scale(100);
}
.option-button {
    cursor: pointer;
    padding: 6px;
    background-color: white;
    border-radius: 20px;
}
.example-box {
    padding: 16px;
}
main {
    margin-top: 74px;
}
