{% raw -%}
<style>
    .scrollable {
        max-width: 720px;
        height: 340px;
        overflow-y: scroll;
    }

    .item {
        background-color: lightgray;
        margin:6px;
        width: 320px;
        min-height: 320px;
    }
    {% rawFile '/lib/1.2/templates/mdl-card-square.css' %}
</style>
{% endraw -%}

<h3>Pre-rendered items list (html+css template)</h3>

<div self="center" layout="column top-center" class="scrollable" z-lazy="scroll">
    <div self="size-xlarge" layout="rows top-center">
        {% for n in (1..500) %}

            <div class="item">
                {% rawFile '/lib/1.2/templates/mdl-card-square.html' %}
            </div>

        {% endfor %}
    </div>
</div>
