body {
    padding-top: 96px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}
main {
    padding-left: 12px;
    padding-right: 12px;
}
p {
    font-size: 150% !important;
    line-height: 160% !important;
}
pre {
    font-size: 120%;
    line-height: 130%;
}
code {
    border-radius: 10px;
}
header {
    position: fixed;
    z-index: 1;
    top:0; left: 0; right: 0; bottom: 0;
    height: 64px;
    padding-left: 8px;
    padding-right: 8px;
    background: whitesmoke;
}
header h1 {
    color: #056950;
    font-size: 220%;
    font-weight: 800;
}

footer {
    margin-top: 96px;
    min-height: 96px;
    font-size: 120%;
    padding: 12px 24px 0;
    background: #bbc;
    background: linear-gradient(#fff 30%, #ccf 95%);
}

a {
    text-decoration: none;
}

blockquote {
    z-index: -1; /* not sure why it would overlap the header without this */
    position: center !important;
    font-size: 140% !important;
    font-family: 'serif', 'Helvetica', 'sans-serif' !important;
    margin-left: 24px;
    margin-right: 24px;
}

li {
    font-size: 160%;
    line-height: 160%;
    margin-bottom: 8px;
}
li small {
    opacity: 0.5;
}

h3 {
    opacity: 0.6;
}
h3 {
    font-weight: 900;
}

code.option {
    font-size: 80%;
    padding: 4px;
    border-radius: 6px;
    border: solid 1px rgba(0,200,0,0.25);
    background: rgba(255,255,255,0.15);
}

.drawer-header {
    color:white;
    height: 164px;
    padding: 8px 8px 16px 16px;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.drawer-header img {
    width: 88px;
    height: 88px;
    margin-bottom: 8px;
}
.drawer-header .title {
    font-size: 120%;
    font-weight: 700;
}
.drawer-header .subtitle {
    font-size: 120%;
}
.drawer-content {
    background: white;
}
.drawer-content ul {
    padding: 0;
    margin-top: 8px;
}
.drawer-content li:hover {
    background: rgba(0,0,0,0.1);
}
.drawer-content li {
    list-style: none;
    font-size: 120%;
    padding: 8px 16px;
    height: 56px;
}
.drawer-content li a {
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
}
.drawer-content li a span {
    color: darkslategray;
    font-weight: 700;
    margin-left: 16px;
}
.responsive-notice {
    display: none;
}

[data-ui-field="alt_header"] {
    display: none;
}

@media screen and (min-width: 960px) {
    body {
        padding-top: 0;
    }
    main {
        margin-left: 280px;
        padding-left: 24px;
        padding-right: 24px;
    }
    footer {
        padding-left: 292px;
    }
    pre {
        font-size: 140%;
        line-height: 140%;
    }
    .responsive-notice {
        display: block;
        color: #35465C;
        padding: 8px;
        border: goldenrod 1px solid;
        border-radius: 8px;
        margin-top: 20px;
    }
    [data-ui-field="header"] {
        display: none;
    }
    [data-ui-field="alt_header"] {
        color: #056950;
        display: block;
        font-weight: 700;
    }
}
