<div layout="column center-center" style="padding-top: 64px">
    Support zuix.js works, become a patron!
    <a href="https://www.patreon.com/bePatron?u=73679823" data-patreon-widget-type="become-patron-button" title="Become a Patron">
        <img src="{{ '/images/patreon.png' | url }}" width="256" alt="Support zuix.js works, become a Patron!">
    </a>
</div>
