body {
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}
footer {
    min-height: 96px;
    font-size: 120%;
    padding: 12px;
    background: #89675b;
    background: linear-gradient(#78909C 5%, #89675b);
}
p {
    font-family: serif;
    font-size: 180% !important;
    line-height: 150% !important;
    margin-top: 16px !important;
}
p code {
    font-size: 90%;
    opacity: 0.7;
    margin-left: 6px;
    margin-right: 6px;
}
h3 {
    opacity: 0.6;
}
h3 {
    font-weight: 900;
}
a,a:hover,a:visited {
    color:yellow !important;
}
li {
    font-family: serif;
    font-size: 170%;
    line-height: 160%;
    margin-bottom: 8px;
}
li small {
    opacity: 0.5;
}
code.option {
    font-size: 80%;
    padding: 4px;
    border-radius: 6px;
    border: solid 1px rgba(0,200,0,0.25);
    background: rgba(255,255,255,0.15);
}

.max-width--1024 {
    max-width: 1024px;
}
.foremost {
    z-index: 10;
}
.watch {
    -webkit-transition: 150ms linear;
    -moz-transition: 150ms linear;
    -ms-transition: 150ms linear;
    -o-transition: 150ms linear;
    transition: 150ms linear;
}
.sh-parallax {
    position: absolute;
    max-width: 1024px;
    transform: translateY(0);
}
.sh-title {
    font-family: serif;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}
.arrow-down {
    cursor: pointer;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.arrow-down i {
    font-size:500% !important;
    opacity: 0.5;
    z-index:10;
}

.intro-page {
    width: 100%;
    min-height: 100vh;
    z-index:10;
    background: #89675b;
    background: linear-gradient(#89675b 30%, #78909C);
    padding: 16px 16px 72px;
}

.features {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.features li {
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Helvetica, sans-serif;
}
.features li code {
    color: #ffff66;
}
.features li strong {
    opacity: 0.75;
}

.content {
    margin-top: 1px;
    padding: 72px 16px 72px;
}

.hidden {
    display: none;
}

[data-ui-field="header-menu"] {
    width: 100%;
    height: 64px;
    position: fixed;
    top:0; left: 0;
    box-shadow: 0 6px 10px 6px rgba(0,0,0,0.15);
    z-index: 100;
    color: rgba(255,255,255,0.75);
}
[data-ui-field="header-menu"] .title {
    font-size:160%;
    font-weight: 700;
    margin-left: 24px;
}
[data-ui-field="header-menu"] button {
    margin-right: 20px;
}

.sh-sky-background {
    max-width: '{{layout_width}}';
    min-height: 175vh;
    background-color: #5ec8d5;
    background: linear-gradient(to bottom, rgb(155, 190, 209) 0%, rgb(247, 247, 246) 50%, rgb(250, 202, 158) 70%, rgb(246, 155, 108) 85%, darkblue 100%);
}

.sh-sky-background .arrow-down {
    margin-top: 50vh;
    z-index: 10;
}


/*
|| CapGuy Animation
|| (c) Kerstin Mueller
|| https://www.codeandweb.com/blog/2014/11/05/animate-sprites-in-css-with-texturepacker
*/
.sh--capguy {
    position: absolute;
    width: 184px; height: 325px; /* <--  size of a single frame*/
    background-image: url('{{root}}images/capguy-walk.png'); /* <-- url to spritesheet*/
    -webkit-animation: sh--capguy-walk 1s steps(8) infinite;
    -moz-animation: sh--capguy-walk 1s steps(8) infinite;
    -o-animation: sh--capguy-walk 1s steps(8) infinite;
    animation: sh--capguy-walk 1s steps(8) infinite; /* <-- animation parameters, see below*/
    z-index: 20;
    opacity: 0;
}
.sh--capguy h3 {
    position: absolute;
    top: -80px;
    -webkit-text-stroke: 1px black;
    color: lime;
    text-shadow:
            2px 2px 0 #000,
            -1px -1px 0 #fff,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
.sh--capguy .back {
    moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: 'FlipH';
    -ms-filter: 'FlipH';
}
@-webkit-keyframes sh--capguy-walk {
    from { background-position: 0; }
    to { background-position: -1472px; }  /* <-- width of spritesheet*/
}

@-moz-keyframes sh--capguy-walk {
    from { background-position: 0; }
    to { background-position: -1472px; } /* <-- width of spritesheet*/
}

@-o-keyframes sh--capguy-walk {
    from { background-position: 0; }
    to { background-position: -1472px; } /* <-- width of spritesheet*/
}

@keyframes sh--capguy-walk {
    from { background-position: 0; }
    to { background-position: -1472px; } /* <-- width of spritesheet*/
}
