<div layout="column spread-center" class="article-body">

    <header self="top" layout="column top-stretch">
        <div class="black-band"></div>
        <div self="center" class="box-active animated fadeIn">
            {% block header %}{% endblock %}
        </div>
        <div class="box-hidden border-tab animated fadeInUp" layout="row center-center">
            <i class="material-icons animated rotateIn">arrow_downward</i>
        </div>
    </header>

    <div self="size-x1" layout="column center-center" class="box-active animated fadeInUp">
        {% block content %}{% endblock %}
    </div>

    <footer self="bottom" layout="row bottom-center">
        <div self="center" class="box-active animated fadeIn">
            {% block footer %}{% endblock %}
        </div>
        <div class="box-hidden border-tab animated fadeInDown" layout="row center-center">
            <i class="material-icons animated rotateIn">arrow_upward</i>
        </div>
    </footer>

</div>
