{% extends "article.html" %}

{% block header %}{% endblock %}

{% block content %}

<div data-ui-load="@lib/controllers/view_pager"
     data-ui-options="options.view_pager_2"
     self="size-x1"
     class="horizontal_pager">

    <div class="wh100" layout="column center-center">
        <h1>Menu Overlay</h1>
        <a href="docs/components/menu_overlay" class="exit-link animated fadeInUp">
            <i class="material-icons">restaurant_menu</i>
        </a>
    </div>
    <div class="wh100" layout="column center-center">
        <h1>Context Menu</h1>
        <a href="docs/components/context_menu" class="exit-link animated fadeInUp">
            <i class="material-icons">list_alt</i>
        </a>
    </div>
    <div class="wh100" layout="column center-center">
        <h1>Hamburger Icon</h1>
        <a href="docs/components/hamburger_icon" class="exit-link animated fadeInUp">
            <i class="material-icons">menu</i>
        </a>
    </div>
    <div class="wh100" layout="column center-center">
        <h1>Media Browser</h1>
        <a href="docs/components/media_browser" class="exit-link animated fadeInUp">
            <i class="material-icons">video_library</i>
        </a>
    </div>
    <!--
    <div class="wh100" layout="column center-center">
        <h1>Spinners</h1>
        <a href="docs/components/media_browser" class="exit-link animated fadeInUp">
            <i class="material-icons">video_library</i>
        </a>
    </div>
    -->

</div>

{% endblock %}

{% block footer %}
<div data-ui-field="indicator_2" class="animated fadeIn pager-indicator delay-750" self="center" layout="row center-center">
    <a href="javascript:viewPager2.page(0)" class="circle-button page-active"></a>
    {% for i in Array(3) %}
    <a href="javascript:viewPager2.page({{ loop.index }})" class="circle-button"></a>
    {% endfor %}
</div>
{% endblock %}
