---
title: 'zKit'
description: ''
head:
    title: 'zKit, components for modern web'
    description: 'zKit, a collection of framework-agnostic components for modern web.'
---
{% include "_inc/head_open.html" %}
    <!-- page style and script -->
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
{% include "_inc/head_close.html" %}

<body class="mdl-color--black animated fadeIn" onload="init()">

    <main>

        <article class="mdl-color--pink-900 page-active mdl-color-text--white first gradient-1 -gradient-anim" layout="column center-center">
            {% include "_inc/index/cover.html" %}
        </article>

        <article class="mdl-color--purple-900 mdl-color-text--white zuix-css-ignore gradient-2 -gradient-anim">
            <div class="section-title">controllers</div>
            {% include "_inc/index/controllers.html" %}
        </article>

        <article class="mdl-color--green-900 mdl-color-text--white gradient-3 -gradient-anim">
            <div class="section-title">components</div>
            {% include "_inc/index/components.html" %}
        </article>
        <!--
        <article class="mdl-color--green-600 mdl-color-text--white">
            <div class="section-title">templates</div>
            {% include "_inc/index/templates.html" %}
        </article>
        -->
        <article class="mdl-color--pink-900 mdl-color-text--white last gradient-4 -gradient-anim" layout="column center-center">
            {% include "_inc/index/about.html" %}
        </article>

    </main>

{% include "_inc/body_end.html" %}

</body>
</html>
