---
title: 'zKit'
description: ''
---
{% include "_inc/head_open.html" %}
    <!-- page style and script -->
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
{% include "_inc/head_close.html" %}

<body class="mdl-color--black animated fadeIn" onload="init()">

    <main>

        <article layout="column center-center" class="page-active first mdl-color--purple-600 mdl-color-text--white">
            {% include "_inc/index/cover.html" %}
        </article>

        <article class="mdl-color--blue-600 mdl-color-text--white zuix-css-ignore">
            {% include "_inc/index/controllers.html" %}
        </article>

        <article class="mdl-color--red-600 mdl-color-text--white">
            {% include "_inc/index/menu_overlay.html" %}
        </article>

        <article class="mdl-color--green-600 mdl-color-text--white">
            {% include "_inc/index/media_browser.html" %}
        </article>

        <article layout="column center-center" class="last mdl-color--purple-600 mdl-color-text--white">
            {% include "_inc/index/about.html" %}
        </article>

    </main>

{% include "_inc/body_end.html" %}

</body>
</html>
