---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
{%- for item in collections.all %}{% if item.data.title %}
  <url>
    <loc>{{ app.siteMapUrl }}{{ item.url }}</loc>
    <lastmod>{{ item.date | date("yyyy-MM-DD") }}</lastmod>
{%- if item.data.sitemapChangefreq %}<changefreq>{{ item.data.sitemapChangefreq }}</changefreq>{% endif -%}
{%- if item.data.sitemapPriority %}<priority>{{ item.data.sitemapPriority }}</priority>{% endif %}
  </url>
{%- endif %}{% endfor %}
</urlset>
