:host {
    display: inline-flex;
    place-content: center;
    width: 200px;
    border: 1px solid var(--primary-color-half);
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
}
.info {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}
.time {
    font-size: 250%;
    font-family: monospace;
    line-height: 100%;
    opacity: 0.75;
}
.date,.day {
    font-size: 80%;
    font-weight: 700;
    line-height: 100%;
    white-space: nowrap;
}
.frame {
    display: inline-block;
    width: auto;
    border-radius: 6px;
}
.translucent {
    opacity: 0.5;
}
